* {
  font-family: "Roboto Mono", monospace;
  cursor: crosshair;
  letter-spacing: 4px;
}

.light {
  font-weight: 200;
}

.weather-app {
  max-width: 603px;
  margin: 30px auto;
}

.form-control.search {
  text-align: right;
  padding: 5px;
  border: 1px dashed #ff9900;
  border-radius: 3px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 7px;
  max-width: 30%;
}
.form-control:hover {
  border: 1px dashed #33ccff;
  cursor: text;
}

.title-city {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  font-size: 230%;
  color: #ff9900;
}

.today {
  font-size: 134%;
  font-weight: 500;
}

.image {
  text-align: center;
}

li {
  list-style: none;
}

.changes {
  font-family: "Abril Fatface", cursive;
  color: #33ccff;
}

button.btn.current-location {
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 7px;
  width: 30%;
  background: #fff;
  border: 1px dashed #ff9900;
  border-radius: 3px;
}

button.btn.current-location:hover {
  cursor: pointer;
  border: 1px dashed #33ccff;
  color: #000;
}

.footnote {
  color: #ff9900;
  text-decoration: none;
}

.footnote:hover {
  color: #33ccff;
  text-decoration: none;
  cursor: pointer;
}
