* {
  font-family: "Roboto Mono", monospace;
  cursor: crosshair;
  letter-spacing: 4px;
}

.light {
  font-weight: 200;
}

.weather-app {
  margin: 30px auto;
}

p.date-and-time {
  margin-top: 34px;
  font-family: "Abril Fatface", cursive;
  text-align: right;
  color: #33ccff;
  max-width: -30%;
}

.date-and-time:hover {
  text-decoration: wavy line-through;
  text-decoration-color: rgb(139, 226, 255, 0.5);
  text-decoration-thickness: 13px;
}

.form-control.search {
  font-family: "Source Code Pro", monospace;
  text-align: right;
  padding: 4px;
  border: 1px dashed #ff9900;
  border-radius: 3px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 7px;
  max-width: 30%;
}
.form-control:hover {
  border: 1px dashed #33ccff;
  cursor: text;
  text-decoration: line-through;
  text-decoration-color: rgb(139, 226, 255, 0.5);
  text-decoration-thickness: 13px;
}

.title-city {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  font-size: 230%;
  color: #ff9900;
  text-decoration: line-through;
  text-decoration-color: rgb(255, 185, 99, 0.5);
  text-decoration-thickness: 43px;
}

.today {
  font-size: 134%;
  font-weight: 500;
}

.image {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.changes {
  font-family: "Abril Fatface", cursive;
  color: #33ccff;
}

button.btn.current-location {
  font-family: "Source Code Pro", monospace;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 7px;
  width: 30%;
  background: #fff;
  border: 1px dashed #ff9900;
  border-radius: 3px;
}

button.btn.current-location:hover {
  cursor: pointer;
  border: 1px dashed #33ccff;
  color: #000;
  text-decoration: line-through;
  text-decoration-color: rgb(139, 226, 255, 0.5);
  text-decoration-thickness: 13px;
}

a.footnote1 {
  font-family: "Source Code Pro", monospace;
  color: #ff9900;
  text-decoration: none;
}

a.footnote2 {
  font-family: "Abril Fatface", cursive;
  color: #990000;
  text-decoration: none;
}

a.footnote1:hover {
  font-family: "Source Code Pro", monospace;
  color: #33ccff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-color: rgb(139, 226, 255, 0.5);
  text-decoration-thickness: 13px;
}

a.footnote2:hover {
  font-family: "Abril Fatface", cursive;
  color: #990000;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: wavy line-through;
  text-decoration-color: rgb(153, 0, 0, 0.5);
  text-decoration-thickness: 13px;
}

.itty-bitty {
  font-size: 73%;
}

li.convert,
a.convert-celsius,
a.convert-fahrenheit,
a.convert-kph,
a.convert-knots {
  color: #ec6e4c;
  text-align: right;
  font-size: small;
  text-decoration: none;
}

.convert-celsius:hover,
.convert-fahrenheit:hover,
.convert-kph:hover,
.convert-knots:hover {
  color: #ec6e4c;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-color: rgb(139, 226, 255, 0.5);
  text-decoration-thickness: 13px;
}

.weather-forecast-day {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: #aaa;
}

.weather-forecast-temperature {
  text-align: center;
}

.wfmax {
  font-family: "Abril Fatface", cursive;
  color: #ec6e4c;
}

.wfmin {
  font-family: "Abril Fatface", cursive;
  color: #ff9900;
}
